.header-up-container{
  padding-top: 20px;
  display: flex;
  justify-content: center;

  @media (max-width: 1100px) {
    transform: scale(0.75);
    -ms-transform: scale(0.75); //ie11
  }
}
.header-down-container{
  padding-top: 200px;
  padding-bottom: 360px;
  text-align: center;
}