
.header-up-container {
  padding-top: 20px;
  display: flex;
  justify-content: center;

  @media (max-width: 1100px) {
    transform: scale(0.75);
    -ms-transform: scale(0.75); //ie11
  }
}

.header-down-container {
  padding-top: 500px;
  padding-bottom: 400px;
  text-align: center;
}

.col-content {
  position: absolute;
  display: flex;
  display: -ms-flexbox;
  width: 1280px;
  margin-top: -80px;
  background-color: white;
  border-top: 3px solid #ffbd34;
  outline: 1px solid;

  @media (max-width: 1360px) {
    transform: scale(0.75);
    -ms-transform: scale(0.75); //ie11
  }
}

.features-section {
  display: flex;
  justify-content: center;
  height: 400px;
}