.call-overlay-section {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  z-index: 10;
  &__content{
    width: 100%;
  }
}

.call-overlay-container{
  width: 320px;
  height: 500px;
  background-color: white;
  border-radius: 50px;
  margin: auto;
}
.call-overlay__title{
  text-align: center;
  line-height: 32px;
  font-weight: bold;
  color: rgb(30, 25, 28);
  font-size: 26px;
  padding: 30px 30px 0 30px
}

.call-overlay__subtitle{
  text-align: center;
  line-height: 20px;
  color: rgb(127, 127, 127);
  font-size: 15px;
  margin: 10px auto;
  width: 300px;
}
.call-overlay-footer__text{
  font-size: 10px;
  line-height: 12px;
  color: #bbb;
  padding: 2px 0 0 6px;
  cursor: pointer;
  text-align: left;
}

.call-overlay-inputs__items{
  display: flex;
  flex-direction: column;
}

.call-overlay-inputs__name{
  height: 42px;
  border-radius: 20px;
  border: 2px solid #e0571a!important;
  box-shadow: rgb(169 169 169 / 25%) 0 2px 4px inset;
  box-sizing: border-box;
  color: rgba(30, 25, 28, 0.5);
  background: rgb(255, 255, 255);
  width: 60%;
  padding-left: 10px;
  margin-bottom: 10px;
  outline: none;
}
.call-overlay-inputs__phone{
  height: 42px;
  border-radius: 20px;
  border: 2px solid #e0571a!important;
  box-shadow: rgb(169 169 169 / 25%) 0 2px 4px inset;
  box-sizing: border-box;
  color: rgba(30, 25, 28, 0.5);
  background: white;
  width: 60%;
  padding-left: 10px;
  outline: none;
}

.call-overlay-footer{
  display: flex;
  padding: 10px 30px 10px 30px;
}