.credit-section {
  padding: 100px 0;
}

.credit-text {
  width: 1275px;
  margin: auto;
  text-align: left;
}

.credit__title {
  font-size: 1.3rem;
  font-weight: normal;
  color: #ffbd34;
  text-transform: uppercase;
}

.credit__subtitle {
  font-size: 2.8rem;
  font-weight: bold;
  margin: 0.23em 0 0.5em;
  text-transform: uppercase;
}

.credit__description {
  line-height: 1.8em;
}