.documents-list-section{
  .container{
    @media (max-width: 860px) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.documents-item{
  background-color: $color-main-white;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-top: 1px solid $color-black;
}

.documents-item_white{
  background-color: $color-main-white;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-top: 1px solid $color-black;
}

.documents-item__link{
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  text-decoration: none;
  padding-right: 10px;
  margin: 0;
  color: $color-main-yellow;
}

.documents-item__text{
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  padding-left: 10px;
  margin: 0;
}

