.gallery-section {
  background-color: #f8f8f8;
  @media (max-width: 860px) {
    .container{
      padding: 0;
      transform: scale(0.75);
    }
    .gallery-content{
      width: auto;
    }
    .gallery-text{
      width: auto;
    }
    .gallery-content__image{
      width: 100%;
    }
  }
}

.gallery-text {
  width: 1275px;
  margin: auto;
  text-align: left;
}

.gallery-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1400px;
  margin: auto;
}

.gallery-content__image {
  width: 30%;
  margin-right: 5px;
  position: relative;
  &:hover{
    opacity: 0.7;
    transition: 0.5s;
    cursor: pointer;
    .gallery-content__zoom{
      opacity: 1 !important;
      transition: 1.0s;
    }
  }
  @media (max-width: 1200px) {
    width: 40%;
  }
}
.gallery-content__zoom{
  position: absolute;
  z-index: 2;
  right: 20px;
  bottom: 20px;
  font-size: 20px;
  pointer-events: none;
  opacity: 0;
}

.gallery__overlay{
  position: absolute;
  z-index: 5;
  left: 320px;
  top: 200px;
}

.gallery__file {
  width: 100%;
}

.gallery-text__title {
  font-size: 1.3rem;
  font-weight: normal;
  color: #ffbd34;
  text-transform: uppercase;
}

.gallery-text__subtitle {
  font-size: 2.8rem;
  font-weight: bold;
  margin: 0.23em 0 0.5em;
  text-transform: uppercase;
}

.gallery-text__description {
  line-height: 1.8em;
}

.button-prices{
  margin-right: 10px;
  background-color: white !important;
  color: #0a172b;
  text-align: center;
}
.button-prices:hover{
  background-color: #FF5B4F !important;
}