.header-up-container {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  background-color: rgba(171, 162, 162, 0.1);

  @media (max-width: 1100px) {
    transform: scale(0.75);
    -ms-transform: scale(0.75); //ie11
    width: 125%;
    margin-left: -100px;
  }
}

.header-down-container {
  padding-top: 500px;
  padding-bottom: 400px;
  text-align: center;
  &_docs{
    padding-top: 120px;
    text-align: center;
    padding-bottom: 0;
  }
}

.header {
  background-image: url("../images/background_high.jpg");
  background-size: cover;
  position: relative;
  &_docs{
    height: 500px !important;
  }
}

.menu-logo {
  width: 150px;
  height: auto;
}
.menu__image{
  width: 140px;
  height: 70px;
}

// Меню шапки
.menu {
  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  &__link {
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    font-size: 1.13rem;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 400;
  }
}

.menu__link:hover{
  color: #ffbd34;
  transition: 0.5s;
}

// Меню шапки

// Поле контактов
.menu-contact {
  margin-top: 5px;
}

.menu-contact__icon {
  padding-left: 20px;
  width: 20px;
  height: 20px;
}

.menu-contact__title {
  padding-left: 80px;
  margin: 0;
  color: #E71E61;
  font-size: 12px;
  line-height: 1.42;
  text-transform: uppercase;
}

.menu-contact__call {
  color: white;
  margin-left: 35px;
  text-decoration: none;
}

// Поле контактов

.header__title {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header__subtitle {
  font-size: 3.66667rem;
  font-weight: bold;
  margin: 0.63em 0 1em;
  color: #fff;
  line-height: 1.27em;
  text-transform: uppercase;
}
