.page-header{
  background-image: url("../images/background_high.jpg");
  background-size: cover;
  position: relative;
}

.header-logo {
  width: 150px;
  height: auto;
}

// Меню шапки
.menu {
  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  &__item {

  }

  &__link {
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    font-size: 1.13rem;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 400;
  }
}
// Меню шапки

// Поле контактов
.header-contact{

}
.contact__icon{
  padding-left: 20px;
  width: 20px;
  height: 20px;
}
.contact__title{
  padding-left: 80px;
  margin: 0;
  color: #E71E61;
  font-size: 12px;
  line-height: 1.42;
  text-transform: uppercase;
}
.contact__phone{
  color: white;
  margin-left: 35px;
}
// Поле контактов

.header__title{
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header__subtitle{
  font-size: 3.66667rem;
  font-weight: bold;
  margin: 0.63em 0 1em;
  color: #fff;
  line-height: 1.27em;
  text-transform: uppercase;
}
.button{
  color: white;
  background-color: #FF5B4F !important;
  border-radius: 50px;
  display: inline-block;
  text-transform: uppercase;
  box-sizing: border-box;
  text-align: center;
  height: 45px;
  line-height: 45px;
  font-size: 1rem;
  outline: none;
}