.partner-section{
  @media (max-width: 860px) {
    .container{
      padding: 0;
      transform: scale(0.75);
    }
    .swiper-container{
      width: auto;
    }
    .partner-details{
      margin: auto;
      flex-direction: column;
    }
  }
}

.partner-header {
  width: 1275px;
  margin: auto;
  text-align: left;
}

.partner-header__subtitle {
  font-size: 2.8rem;
  font-weight: bold;
  margin: 0.23em 0 0.5em;
  text-transform: uppercase;
}

.partner-details{
  display: flex;
  width: 1275px;
  margin: auto;
  align-items: baseline;
}

.partner-details__text{
  margin-top: 45px;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.4;
  margin-right: 10px;
}

.swiper-container {
  width: 1275px !important;
  margin: auto;
}

.swiper-wrapper{
  align-items: center;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: $color-main-white;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}