.plan-section {
  background-color: #f8f8f8;
  @media (max-width: 860px) {
    .container{
      padding: 0;
      transform: scale(0.75);
    }
    .plan-view{
      width: auto;
    }
    .plan-text{
      width: auto;
    }
    .change-plan{
      display: block;
      text-align: center;
    }
    .plan-object{
      width: 100%;
    }
  }
}

.plan-text {
  width: 1275px;
  margin: auto;
  text-align: left;
}

.plan-text__title {
  font-size: 1.3rem;
  font-weight: normal;
  color: #ffbd34;
  text-transform: uppercase;
}

.plan-text__subtitle {
  font-size: 2.8rem;
  font-weight: bold;
  margin: 0.23em 0 0.5em;
  text-transform: uppercase;
}

.plan-text__description {
  line-height: 1.8em;
  position: relative;
  &:before{
    content: "";
    width: 35px;
    height: 5px;
    background: #ffbd34;
    position: absolute;
    top: -15px;
  }
}

.change-plan {
  display: flex;
  justify-content: center;
}

.plan-view {
  width: 1275px;
  margin: auto;
}

.plan-object {
  width: 30%;
  text-align: center;
  margin-top: 20px;
  background-color: white;
  height: 400px;
  display: inline-block;
  &:hover{
    opacity: 0.7;
    transition: 0.5s;
    cursor: pointer;
  }
}

.plan-object__img{
  width: 250px;
  height: 250px;
}