.plan-section {
  background-color: #f8f8f8;
}

.plan-text {
  width: 1275px;
  margin: auto;
  text-align: left;
}

.plan-text__title {
  font-size: 1.3rem;
  font-weight: normal;
  color: #ffbd34;
  text-transform: uppercase;
}

.plan-text__subtitle {
  font-size: 2.8rem;
  font-weight: bold;
  margin: 0.23em 0 0.5em;
  text-transform: uppercase;
}

.plan-text__description {
  line-height: 1.8em;
}

.change-plan {
  display: flex;
  justify-content: center;
}

.plan-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  width: 80%;
  margin: auto;
}

.plan-object {
  width: 30%;
  text-align: center;
  margin-top: 20px;
  background-color: white;
  height: 400px;
  :hover{
    opacity: 0.7;
    transition: 0.5s;
    cursor: pointer;
  }
}

.plan-object__img{
  width: 250px;
  height: 250px;
}