$main-font: 'oswald', 'sans-serif';

$color-main-yellow: #ffbd34;
$color-main-white: #fff;
$color-field: #f1f1f1;
$color-main-red: #FF5B4F;
$color-dark-blue: #0a172b;
$color-black: #000;
$color-gray: #7F7F7F;
$color-white-gray: #bbbbbb;
$color-white-gray2: #f0f0f0;
$color-pink: #e71e61;
$color-lite-blue: #bbc1e1;

$color-overlay-black: rgba(0, 0, 0, 0.8);
$color-overlay-gray: rgba(255, 255, 255, 0.1);