@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import 'call-overlay';
@import 'buttons';
@import 'variables';
@import '_header';
@import 'features';
@import 'gallery';
@import 'map';
@import 'view_register';
@import 'plan-section';
@import 'credit';
@import 'partners';
@import 'how-to-buy';
@import 'contact-us';

.page-body {
  font-family: 'oswald', 'sans-serif';
  font-size: 20px;
}
.container{
  padding: 100px;
}
.container-flex{
  padding: 100px;
  display: flex;
}